<section class="terra-header-section bg-off-white w-full py-4">
  <div class="container">
    <h2 class="terra-header-text text-4xl md:text-6xl font-extrabold text-slate-blue leading-tight text-center">
      At MyCRMA, a Salesforce Consulting Partner, we specialize in helping businesses scale smarter. From strategy to implementation, we guide organizations across industries through a seamless Salesforce journey—driving transformation, growth, and long-term success.
    </h2>
  </div>
</section> 